* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.column {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

header {
  /* bold teal */
  background-color: #058fc5;
  color: white;
  padding: 20px 0 10px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

blockquote {
  font-style: italic;
  line-height: 1.5;
  font-size: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
}

section {
  padding: 15px 0;
}

section:nth-of-type(even) {
  /* pale blue-grey */
  background-color: #f1f3f5;
}

h2 {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid grey;
}

img {
  width: 100%;
  margin: 20px 0;
}

p {
  font-size: 20px;
  line-height: 1.2;
}
